* {
    font-family: "Bebas Neue", serif;
    margin: 0;
    padding: 0;
}

body {
    color: darkred;
    background-color: black;
    min-height: 100vh;
}

li a button {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}

.logo {
    cursor: pointer;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0 20px;
    font-size: larger;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: lightcoral;
}

button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: darkred;
    margin-left: 20px;
}

button:hover {
    background-color: lightcoral;
}

a, h1 {
    color: darkred;
}

h1 {
    margin-right: auto;
}


.eventlist {
    list-style: none;
    text-align: center;
    font-size: 25px;
}

.eventlist li {
    display: inline-block;
    letter-spacing: 5px;
}

.footer {
    position: sticky;
    top: 100%;
    background-color: #3D0C02;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footerbottom {
    color: darkred;
    display: flex;
}


.socialIcons {
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease 0s;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

.socialIcons a i {
    font-size: 2em;
    color: red;
    opacity: 0.9;
    transition: all 0.3s ease 0s;
}

.socialIcons a:hover {
    background-color: black;
}

.socialIcons a:hover i {
    color: white;

}

span a{
    transition: 0.5s ease 0s;
}

span a:hover {
    color: lightcoral;

}
